<div id="d_header">
	<a href="#home"><img src="img/toLeft.jpg" /></a>
	<span>大闸蟹开湖国庆</span>
	<img src="img/f_h_1.jpg" />
</div>
<div id="d_banner">
	<img src="img/d_b_1.jpg" />
</div>
<div id="d_nav">
	<ul>
		<li class="d_Mynav"><a href="#tab1"></a></li>
		<li class="d_Mynav"><a href="#tab2"></a></li>
		<li class="d_Mynav"><a href="#tab3"></a></li>
	</ul>
</div>
<div id="tab1"class="myTab">
	<div id="d_title0"class="d_title"></div>
	<div id="d_part1">
		<ul  class="d_nav_shop d_nav_shop1" >
			<li>
				<img src="img/d_p1_1.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p>3.6-4.0两公蟹 2.6-3.0两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_4.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家合家欢乐898型礼盒</p>
					<p>3.5-3.9两公蟹 2.5-2.9两母蟹10只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_5.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家有福同享798型礼盒</p>
					<p>3.5-3.9两公蟹 2.5-2.9两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_6.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1666型礼盒</p>
					<p>4.5-5.0两公蟹 3.2-3.6两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
		</ul>
	</div>
	<div id="d_title1"class="d_title"></div>
	<div id="d_part2">
		<ul  class="d_nav_shop d_part2" >
			<li>
				<img src="img/d_p1_1.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p>3.6-4.0两公蟹 2.6-3.0两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
		</ul>
	</div>
	<div id="d_title2"class="d_title"></div>
	<div id="d_part3">
		<ul  class="d_nav_shop d_part3" >
			<li>
				<img src="img/d_p1_1.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p>3.6-4.0两公蟹 2.6-3.0两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_4.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家合家欢乐898型礼盒</p>
					<p>3.5-3.9两公蟹 2.5-2.9两母蟹10只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_5.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家有福同享798型礼盒</p>
					<p>3.5-3.9两公蟹 2.5-2.9两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_6.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1666型礼盒</p>
					<p>4.5-5.0两公蟹 3.2-3.6两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
		</ul>
	</div>
	<div id="d_title3" class="d_title"></div>
	<div id="d_part4">
		<ul  class="d_nav_shop d_part4" >
			<li>
				<img src="img/d_p1_1.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p>3.6-4.0两公蟹 2.6-3.0两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div id="tab2"class="myTab">
	<div id="d_title4"class="d_title"></div>
	<div id="d_part8">
		<ul  class="d_nav_shop d_part8" >
			<li>
				<img src="img/d1.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p>3.6-4.0两公蟹 2.6-3.0两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d4.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家合家欢乐898型礼盒</p>
					<p>3.5-3.9两公蟹 2.5-2.9两母蟹10只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
		</ul>
	</div>
	<div id="d_title5"class="d_title"></div>
	<div id="d_part9">
		<ul  class="d_nav_shop d_part9" >
			<li>
				<img src="img/d_p1_1.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p>3.6-4.0两公蟹 2.6-3.0两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
		</ul>
	</div>
	<div id="d_title6"class="d_title"></div>
	<div id="d_part10">
		<ul  class="d_nav_shop d_part10" >
			<li>
				<img src="img/d_p1_1.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p>3.6-4.0两公蟹 2.6-3.0两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_2.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家心想事成999型礼盒</p>
					<p>2.5-2.9两8只全母</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_3.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1188型礼盒</p>
					<p>4.0-4.5两公蟹 3.0-3.5两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_4.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家合家欢乐898型礼盒</p>
					<p>3.5-3.9两公蟹 2.5-2.9两母蟹10只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_5.jpg" alt="" />
				<div>
					<p>[直供]湖畔人家有福同享798型礼盒</p>
					<p>3.5-3.9两公蟹 2.5-2.9两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
			<li>
				<img src="img/d_p1_6.jpg" alt="" />
				<div>
					<p>[直供]星农联合阳澄湖大闸蟹1666型礼盒</p>
					<p>4.5-5.0两公蟹 3.2-3.6两母蟹8只公母配</p>
					<p>¥<span>318</span></p>
					<p>立即购买</p>
				</div>
			</li>
		</ul>
	</div>
	<div id="d_title7" class="d_title"></div>
</div>
<div id="tab3" class="myTab">
	<img src="img/d5.jpg"/>
</div>
<div id="d_part5"></div>
	<div id="d_part7">
		<div id="d_part6"></div>
		<ul>
			<li>本活动所有卡券商品24小时内发货，根据配送地点不同，预计3-5天到达（北京地区2天内到货）；</li>
			<li>本活动所有礼盒商品48小时内发货，供应商直供，由顺丰物流统一发货，根据配送地点不同，预计3天左右到达；</li>
			<li>大闸蟹实物商品请收货后当面检查，配送完成后2小时内，如出现死蟹问题，可拨打客服电话联系；</li>
			<li>企业团购客服：4008484842；团购订单自支付到账起，24小时内发货；团购礼品将于订单完成后次日，由客服联系确认后发货；</li>
			<li>凡单笔订单含大闸蟹卡券商品，则免运费；</li>
			<li>发货时间：所有商品会在24小时之内发货；</li>
			<li>活动地区：爱鲜蜂覆盖地区用户均可参与。</li>
		</ul>
</div>
<div id="d_shopCra"></div>
