
<div id="f_header">
	<a href="#home"><img src="img/toLeft.jpg" /></a>
	<span>疯狂秒杀</span>
	<img src="img/f_h_1.jpg"/>
</div>
<div id="f_banner">
	<img src="img/f_b1.jpg" />
</div>
<div id="f_part1">
	<ul>
		<li class="timeLi">
			<div>
				<p>10:00</p>
				<p class="timeText"></p>
				<p class="timeImg"></p>
			</div>
		</li>
		<li class="timeLi">
			<div>
				<p>12:00</p>
				<p class="timeText"></p>
				<p class="timeImg"></p>
			</div>
		</li>
		<li class="timeLi">
			<div>
				<p>15:00</p>
				<p class="timeText"></p>
				<p class="timeImg"></p>
			</div>
		</li>
		<li class="timeLi">
			<div>
				<p>19:00</p>
				<p class="timeText"></p>
				<p class="timeImg"></p>
			</div>
		</li>
	</ul>
</div>
<div id="f_part2">
	<div>
		<p class="beginText"></p>
		<p class="beginTime">
			<span class="hour"></span>
			<span>:</span>
			<span class="minute"></span>
			<span>:</span>
			<span class="second"></span>
		</p>
	</div>
	<span>查看活动规则</span>
</div>
<div id="f_part3"></div>
<div id="f_part4" class="f_title">
	<span></span>
	<span>热卖</span>
</div>
<div id="f_part5">
	<ul>
		<li>
			<img src="img/f_p5_1.jpg" alt="" />
			<p>福成原味酸牛奶</p>
			<p>240g</p>
			<p>
				￥8.9<span>￥12.9</span>
			</p>
			<p class="myP"></p>
		</li>
		<li>
			<img src="img/f_p5_2.jpg" alt="" />
			<p>骑士1992酸牛奶</p>
			<p>180g</p>
			<p>
				￥6.8<span>￥9.9</span>
			</p>
			<p class="myP"></p>
		</li>
		<li>
			<img src="img/f_p5_3.jpg" alt="" />
			<p>三元轻能黄桃+大麦优酪乳</p>
			<p>250g/盒*2</p>
			<p>
				￥9.9<span>￥15</span>
			</p>
			<p class="myP"></p>
		</li>
		<li>
			<img src="img/f_p5_4.jpg" alt="" />
			<p>飘香鸭锁骨(微辣)</p>
			<p>220g</p>
			<p>￥16<span>￥20</span></p>
			<p class="myp">补货中</p>
		</li>
		<li>
			<img src="img/f_p5_5.jpg" alt="" />
			<p>红牛维生素功能饮料</p>
			<p>250ml</p>
			<p>￥6<span>￥6.5</span></p>
			<p class="myP"></p>
		</li>
		<li>
			<img src="img/f_p5_6.jpg" alt="" />
			<p>「可口可乐」汽水</p>
			<p>330ml</p>
			<p>￥2.5<span>￥3</span></p>
			<p class="myP"></p>
		</li>
		<li>
			<img src="img/f_p5_7.jpg" alt="" />
			<p>燕京啤酒</p>
			<p>330ml</p>
			<p>￥2.8<span>￥4</span></p>
			<p class="myP"></p>
		</li>
		<li>
			<img src="img/f_p5_8.jpg" alt="" />
			<p>爱鲜蜂·赣南蜜桔</p>
			<p>800-900g/袋</p>
			<p>￥6.8<span>￥8.5</span></p>
			<p class="myp">补货中</p>
		</li>
		<li>
			<img src="img/f_p5_9.jpg" alt="" />
			<p>蜂觅·越南直采红心火龙果</p>
			<p>320-420g/粒</p>
			<p>￥14.9<span>￥35</span></p>
			<p class="myp">补货中</p>
		</li>
		<li>
			<img src="img/f_p5_10.jpg" alt="" />
			<p>哈肉联啤酒火腿</p>
			<p>350g</p>
			<p>￥16.8<span>￥18</span></p>
			<p class="myp">补货中</p>
		</li>
	</ul>
</div>
<div id="f_part6" class="f_title">
	<span></span>
	<span>活动规则</span>
</div>
<div id="f_part7">
	<ul>
		<li>本次活动购买的实物商品，请先选择送货地址，再进行购买；</li>
		<li>活动动时间：每日10点、12点、15点、19点；</li>
		<li>活动单品每个商品每人每天抢购一次（限配送区域内用户参加）；</li>
		<li>商品数量有限，售完即止。需及时在线支付，请以订单支付成功时间为准；</li>
		<li>此活动可以和其他商品同时购买，订单金额满30元（含）以上可送；</li>
		<li>若发现用户恶意刷单，爱鲜蜂有权拒绝送货。</li>
	</ul>
</div>
<div id="f_shopCra"></div>
