<div id="h_header">
	<ul>
		<li>
			<a>
				惠民儿童医院 1231 
				<img src="img/h_header.jpg" />
			</a>
		</li>
		<li>
			<figure>
				<img src="img/h_search.jpg" />
				<figcaption>
					搜 索
				</figcaption>
			</figure>
		</li>
	</ul>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
</div>
<div id="h_nav">
	<ul id="h_ul"></ul>
</div>
<div id="h_part1">
	<ul>
		<li><a href="#"><img src="img/h_p1_1.jpg" alt="" /></a></li>
		<li><a href="#"><img src="img/h_p1_2.jpg" alt="" /></a></li>
		<li><a href="#"><img src="img/h_p1_3.jpg" alt="" /></a></li>
	</ul>
</div>
<div id="h_part2">
	<img src="img/h_p2_1.jpg" />
	<ul>
		<li><img src="img/h_p2_2.jpg" alt="" /></li>
		<li><img src="img/h_p2_3.jpg" alt="" /></li>
	</ul>
	<ul>
		<li><a href="#">
				<figure>
					<img src="img/h_p2_4.jpg" alt="" />
					<figcaption>优选水果</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/h_p2_5.jpg" alt="" />
					<figcaption>牛奶面包</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/h_p2_6.jpg" alt="" />
					<figcaption>饮料酒水</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/h_p2_7.jpg" alt="" />
					<figcaption>更多</figcaption>
				</figure>
			</a>
		</li>
	</ul>
	<ul>
		<li><a href=""><img src="img/h_p2_8.jpg" alt="" /></a></li>
		<li><a href=""><img src="img/h_p2_9.jpg" alt="" /></a></li>
		<li><a href=""><img src="img/h_p2_10.jpg" alt="" /></a></li>
		<li><a href=""><img src="img/h_p2_11.jpg" alt="" /></a></li>
	</ul>
</div>
<div class="h_part3">
	<div class="h_part3_head">
		<div class="h_part3_head_left">
			<span></span>
			优选水果
		</div>
		<div class="h_part3_head_right">
			更多
			<img src="img/h_p3_1.jpg" />
		</div>
	</div>
	<div class="h_part3_banner">
		<img src="img/h_p3_2.jpg" />
	</div>
	<div class="h_part3_content">
		<ul>
			<li><a href="">
					<img src="img/h_p3_3.jpg" alt="" />
					<p>爱鲜蜂·红宝石葡萄</p>
					<p>精选</p>
					<p></p>
					<p>550-600g/盒</p>
					<p>￥15.8<span>￥25</span></p>
					<p></p>
				</a></li>
			<li><a href="">
					<img src="img/h_p3_4.jpg" alt="" />
					<p>爱鲜蜂·云南蒙自石榴</p>
					<p>精选</p>
					<p></p>
					<p>500-550g/盒</p>
					<p>￥12.9<span>￥28</span></p>
					<p></p>
				</a></li>
			<li><a href="">
					<img src="img/h_p3_5.jpg" alt="" />
					<p>蜂觅·精选琯溪蜜柚</p>
					<p>精选</p>
					<p></p>
					<p>1.3-1.65kg/粒</p>
					<p>￥9.9<span>￥17</span></p>
					<p></p>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="h_part3 h_part4">
	<div class="h_part3_head">
		<div class="h_part3_head_left h_part4_header">
			<span></span>
			牛奶面包
		</div>
		<div class="h_part3_head_right">
			更多
			<img src="img/h_p3_1.jpg" />
		</div>
	</div>
	<div class="h_part3_banner">
		<img src="img/h_p4_1.jpg" />
	</div>
	<div class="h_part3_content">
		<ul>
			<li><a href="">
					<img src="img/h_p4_2.jpg" alt="" />
					<p>贝儿手撕包</p>
					<p>精选</p>
					<p></p>
					<p>60g/盒</p>
					<p>￥3.6<span>￥4.5</span></p>
					<p></p>
				</a></li>
			<li class="h_part4_li"><a href="" class="h_part4_content">
					<img src="img/h_p4_3.jpg" alt="" />
					<p>雪原白瓷瓶风味酸乳</p>
					<p>精选</p>
					<p>买一赠一</p>
					<p>200g/盒</p>
					<p>￥10.9<span>￥12</span></p>
					<p></p>
				</a></li>
			<li><a href="" class="h_part4_content">
					<img src="img/h_p4_4.jpg" alt="" />
					<p>音苏提有机酸奶酪</p>
					<p>精选</p>
					<p>买一赠一</p>
					<p>140g</p>
					<p>￥9.9<span>￥17</span></p>
					<p></p>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="h_part3 h_part5">
	<div class="h_part3_head">
		<div class="h_part3_head_left h_part5_header">
			<span></span>
			卤味熟食
		</div>
		<div class="h_part3_head_right">
			更多
			<img src="img/h_p3_1.jpg" />
		</div>
	</div>
	<div class="h_part3_banner">
		<img src="img/h_p5_1.jpg" />
	</div>
	<div class="h_part3_content">
		<ul>
			<li><a href="">
					<img src="img/h_p5_2.jpg" alt="" />
					<p>哈肉联啤酒火腿</p>
					<p>精选</p>
					<p></p>
					<p>350g</p>
					<p>￥16.8<span>￥18</span></p>
					<p></p>
				</a></li>
			<li><a href="">
					<img src="img/h_p5_3.jpg" alt="" />
					<p>飘香卤鸭肠微辣</p>
					<p>精选</p>
					<p></p>
					<p>108g/盒</p>
					<p>￥18<span>￥30</span></p>
					<p></p>
				</a></li>
			<li><a href="">
					<img src="img/h_p5_4.jpg" alt="" />
					<p>哈肉联乌克兰风味烤肠</p>
					<p>精选</p>
					<p></p>
					<p>100g</p>
					<p>￥11<span>￥13</span></p>
					<p></p>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="h_part3 h_part6">
	<div class="h_part3_head">
		<div class="h_part3_head_left h_part6_header">
			<span></span>
			饮料酒水
		</div>
		<div class="h_part3_head_right">
			更多
			<img src="img/h_p3_1.jpg" />
		</div>
	</div>
	<div class="h_part3_banner">
		<img src="img/h_p7_1.jpg" />
	</div>
	<div class="h_part3_content">
		<ul>
			<li class="h_part6_content"><a href="">
					<img src="img/h_p7_2.jpg" alt="" />
					<p>农夫山泉饮用天然水</p>
					<p>精选</p>
					<p></p>
					<p>550ml</p>
					<p>￥1.5<span>￥3</span></p>
					<p></p>
				</a></li>
			<li class="h_part6_content"><a href="">
					<img src="img/h_p7_3.jpg" alt="" />
					<p>屈臣氏蒸馏水</p>
					<p>精选</p>
					<p></p>
					<p>400ml</p>
					<p>￥3</p>
					<p></p>
				</a></li>
			<li class="h_part6_content"><a href="">
					<img src="img/h_p7_4.jpg" alt="" />
					<p>农夫柠檬红茶茶π饮料</p>
					<p>精选</p>
					<p></p>
					<p>100g</p>
					<p>￥5<span>￥6</span></p>
					<p></p>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="h_part3 h_part7">
	<div class="h_part3_head">
		<div class="h_part3_head_left h_part7_header">
			<span></span>
			零食大趴
		</div>
		<div class="h_part3_head_right">
			更多
			<img src="img/h_p3_1.jpg" />
		</div>
	</div>
	<div class="h_part3_banner">
		<img src="img/h_p6_1.jpg" />
	</div>
	<div class="h_part3_content">
		<ul>
			<li class="h_part7_content"><a href="">
					<img src="img/h_p6_2.jpg" alt="" />
					<p>啪啪通原味虾片</p>
					<p>精选</p>
					<p></p>
					<p>85g</p>
					<p>￥16.8<span>￥23</span></p>
					<p></p>
				</a></li>
			<li class="h_part7_content"><a href="">
					<img src="img/h_p6_3.jpg" alt="" />
					<p>甘源牌蟹黄味瓜子仁</p>
					<p>精选</p>
					<p></p>
					<p>285g</p>
					<p>￥11.8<span>￥12</span></p>
					<p></p>
				</a></li>
			<li class="h_part7_content"><a href="">
					<img src="img/h_p6_4.jpg" alt="" />
					<p>德芙蓝莓黑巧克力</p>
					<p>精选</p>
					<p></p>
					<p>100g</p>
					<p>￥23.8<span>￥25</span></p>
					<p></p>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="h_part3 h_part8">
	<div class="h_part3_head">
		<div class="h_part3_head_left h_part8_header">
			<span></span>
			方便速食
		</div>
		<div class="h_part3_head_right">
			更多
			<img src="img/h_p3_1.jpg" />
		</div>
	</div>
	<div class="h_part3_banner">
		<img src="img/h_p8_1.jpg" />
	</div>
	<div class="h_part3_content">
		<ul>
			<li class="h_part8_content"><a href="">
					<img src="img/h_p8_2.jpg" alt="" />
					<p>统一来一桶香辣味老坛酸菜</p>
					<p>精选</p>
					<p></p>
					<p>120g</p>
					<p>￥4<span>￥5</span></p>
					<p></p>
				</a></li>
			<li class="h_part8_content"><a href="">
					<img src="img/h_p8_3.jpg" alt="" />
					<p>统一汤达人酸酸辣辣豚骨面</p>
					<p>精选</p>
					<p></p>
					<p>135g</p>
					<p>￥7.9<span>￥8.5</span></p>
					<p></p>
				</a></li>
			<li class="h_part8_content"><a href="">
					<img src="img/h_p8_4.jpg" alt="" />
					<p>统一小浣熊意式红烩有点甜</p>
					<p>精选</p>
					<p></p>
					<p>50g</p>
					<p>￥1<span>￥1.2</span></p>
					<p></p>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="main_hot">
	<div id="main_hot_header">
		鲜蜂热卖
	</div>
	<ul id="h_hot"></ul>
</div>
<div id="main_hot_bottom">
		<a href="">点击查看全部商品></a>
</div>