<div id="m_header">
	<a href="#home"><img src="img/m_h_2.jpg" /></a>
	<div class="m_header_center">
		<p>15361896866</p>
		<img src="img/m_h_1.jpg"/>
		<span><a href="#zchy">注册会员</a></span>
	</div>
	<img src="img/m_h_3.jpg" style="margin-top: 1.4rem;width: 0.4rem;"/>
</div>
<div id="m_header_top">
	<a href=""><img src="img/m_h_4.jpg" alt="" /><span>商品收藏</span></a>
	<a href=""><img src="img/m_h_5.jpg" alt="" /><span>店铺收藏</span></a>
</div>
<div id="m_part1">
	<span>我的订单</span>
	<span>查看全部订单</span>
	<img src="img/toRight.png" />
</div>
<div id="m_part2" class="mynav">
	<ul>
		<li><a href="">
				<figure>
					<img src="img/m_n_1.jpg" alt="" />
					<figcaption>待付款</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/m_n_2.jpg" alt="" />
					<figcaption>待收货</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/m_n_3.jpg" alt="" />
					<figcaption>待评价</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/m_n_4.jpg" alt="" />
					<figcaption>退款/售后</figcaption>
				</figure>
			</a>
		</li>
	</ul>
</div>
<div id="m_part3" class="mynav">
	<ul>
		<li><a href="">
				<figure>
					<img src="img/m_n1_1.jpg" alt="" />
					<figcaption>积分商城</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/m_n1_2.jpg" alt="" />
					<figcaption>优惠券</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/m_n1_3.jpg" alt="" />
					<figcaption>收货地址</figcaption>
				</figure>
			</a></li>
		<li><a href="">
				<figure>
					<img src="img/m_n1_4.jpg" alt="" />
					<figcaption>客服/反馈</figcaption>
				</figure>
			</a></li>
		<li><a href="#about">
				<figure>
					<img src="img/m_n1_5.jpg" alt="" />
					<figcaption>关于我们</figcaption>
				</figure>
			</a></li>
	</ul>
</div>
<div id="m_part4">退出当前账号</div>