<div id="c_header">
	购物车
</div>
<div id="address">
	<p>收  货  人  刘先生</p>
	<p>电        话   18612597091<span>修改<img src="img/toRight.png"></span></p>
	<p>收货地址    北京惠民儿童医院  1231</p>
</div>
<div id="c_part1">
	<span></span>
	<span>闪送超市</span>
	<span>凑单专区</span>
</div>
<div id="c_part2">
	￥0起送，22:00前满￥30免运费，22:00后满￥69免运费
</div>
<div id="c_part3">
	收货时间<span>明天09:00-10:00</span><span>可预订<img src="img/toRight.png"></span>
</div>
<div id="c_part4">
	收货备注<input placeholder="可输入100字以内特殊要求内容"></input>
</div>
<div id="c_part5">
	<table class="c_part5_goods">
		<tr class="c_part5_good">
			<td></td>
			<td><img src="img/c_good_1.jpg"></td>
			<td>
				<p>爱鲜蜂·佳农超甜香蕉</p>
				<p>
					<span>￥13.8</span>
					<span></span>
					<span>1</span>
					<span></span>
				</p>
			</td>
		</tr>
		<tr class="c_part5_good">
			<td></td>
			<td><img src="img/c_good_2.jpg"></td>
			<td>
				<p>爱鲜蜂·新疆红提</p>
				<p>
					<span>￥16.2</span>
					<span></span>
					<span>1</span>
					<span></span>
				</p>
			</td>
		</tr>
	</table>
</div>
<div id="c_part6">
	<span></span>
	<span>全选</span>
	<span>共:<span>￥30</span></span>
	<span>选好了</span>
</div>