<div id="q_header">
	<img src="img/toLeft.jpg" />
	<span>雪原白瓷瓶风味酸乳</span>
</div>
<div id="q_banner">
	<img src="img/q1.jpg" />
</div>
<div id="q_part1">
	<p> 雪原白瓷瓶风味酸乳 </p>
	<p>
		<span>￥</span>
		<span>10.9</span>
		<span>￥12</span>
	</p>
	<p>
		<span>促&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销</span>
		<span>买一赠一</span>
		<span>赠品有限，送完为止</span>
	</p>
</div>
<div id="q_part2">
	<p>
		<span>品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌</span><span>雪原</span>
	</p>
	<p>
		<span>产品规格</span><span>200g</span>
	</p>
	<p>
		<span>保质期限</span><span>14天</span>
	</p>
</div>
<div id="q_part3">
	<div id="q_content">
		<span></span>
		<span>图文详情</span>
		<span></span>
	</div>
</div>
<div id="q_part4">
	<p>温馨提示:</p>
	<p>
		商品签收后，如有问题请您在48小时内反馈在线人工客服、电话4008484842、或关注微信beequick24联系，并将商品及包装保留好。您可在“我的”“全部订单”中找到需要反馈的订单，在订单中点击“申请售后”描述问题并上传相关图片。
	</p>
	<img src="img/q2.jpg" />
</div>
<div id="q_footer">
	<figure>
		<img src="img/q3.jpg" />
		<figcaption>收藏</figcaption>
	</figure>
	<span>添加商品:</span>
	<span></span>
	<span>0</span>
	<span></span>
</div>
<div id="q_shopCra"></div>

