<div id="z_header">
	<a href="#home"><img src="img/toLeft.jpg" /></a>
	<span>会员中心</span>
</div>
<div id="z_banner">
	<p>
		<img src="img/m_h_2.jpg" />
	</p>
	<p>0/999</p>
	<p></p>
	<p>距下一等级还需30成长值</p>
</div>
<div id="z_part1">
	<div class="z_part1">
		<span></span>
		<span>会员攻略</span>
		<span></span>
	</div>
</div>
<div id="z_part2">
	<ul>
		<li class="myLi"><a href="javascript:;"class="myA">
				<img src="img/zchy1.jpg" alt="" />
				<div>
					<p>
						<span>成长值</span>
						<img src="img/bottom.png" class="myImg"/>
					</p>
					<p id="p1"class="myP">会员等级有效期为1年，1年后扣减相应等级成长值，剩余成长值重新计算会</br>员级别。</p>
				</div>
			</a></li>
		<li class="myLi"><a href="javascript:;"class="myA">
				<img src="img/zchy2.jpg" alt="" />
				<div>
					<p>
						<span>成长攻略</span>
						<img src="img/bottom.png"class="myImg" />
					</p>
					<p id="p2"class="myP">
						会员等级越高获得的积分越多。</br>
						1、注册会员：0.5倍积分</br>
						2、普通会员：1倍积分</br>
						3、白银会员：1.5倍积分</br>
						4、黄金会员：2倍积分</br>
						5、钻石会员：3倍积分</br>
					</p>
				</div>
			</a></li>
		<li class="myLi"><a href="javascript:;"class="myA">
				<img src="img/zchy3.jpg" alt="" />
				<div>
					<p>
						<span>特权</span>
						<img src="img/bottom.png" class="myImg"/>
					</p>
					<p id="p3"class="myP">
						1、注册会员：30>成长值>＝0;</br>
						2、普通会员：199>成长值>＝30;</br>
						3、白银会员：499>成长值>＝199;</br>
						4、黄金会员：999>成长值>＝499;</br>
						5、钻石会员：成长值>＝999;</br>
					</p>
				</div>
			</a></li>
		<li class="myLi"><a href="javascript:;" class="myA">
				<img src="img/zchy4.jpg" alt="" />
				<div>
					<p>
						<span>会员等级说明</span>
						<img src="img/bottom.png" class="myImg"/>
					</p>
					<p id="p4" class="myP">
						1、购买精选商品实付金额1：1转化为成长值（不包含优惠券等抵扣部分）;</br>
						2、在“天津、西安、成都、南京、佛山”下单，完成订单后可以获得10成长值;</br>
						3、商品退换货，需扣除该商品所获得成长值;</br>
						4、订单取消，需扣除该订单所获得成长值;</br>
						5、因作弊等行为产生的成长值，爱鲜蜂有权扣除相应成长值;</br>
					</p>
				</div>
			</a>
		</li>
	</ul>
</div>
